.common {
  width: 10%;
}

.day {
  background-color: #ffffff;
  border-radius: 50%;
}

.chosen {
  background-color: #c0aaff;
}

.with-activity {
  background-color: 	#aaeaff;
  /* border: 1px solid #ffaabf !important; */
}
/* 
.div-activity-name {
  display: flex;

} */

.calendar-item {
  display: flex;
  width: 290px;
  height: max-content;
  margin-bottom: 10px;
  padding-bottom: 2px;
  background-color: #ffffff;
  border-radius: 9px;
  flex-direction: column;
  align-items: center;
}

.div-activity-name {
  background-color: white;
  border-radius: 8px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  width: 80%;
}

.p-activity-name {
  font-size: 20px;
  font-weight: 400;
  margin-top: 7px;
  margin-bottom: 7px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.calendar-conteiner {
  width: 280px;
  height: 250px;
}

.react-calendar {
  border: 0px;
}
.react-calendar__month-view__weekdays__weekday {
  background-color: #aabfff;
}
/* 
.react-calendar__tile,
.react-calendar__tile--now,
.react-calendar__tile--active,
.react-calendar__tile--range,
.react-calendar__tile--rangeStart,
.react-calendar__tile--rangeEnd,
.react-calendar__tile--rangeBothEnds,
.react-calendar__month-view__days__da {
  border-radius: 50%;
} */

/* .react-calendar__tile {
  background-color: violet;
} */
/* .react-calendar__tile--now {
  background-color: rebeccapurple;
} */
/* .react-calendar__tile--active {
  background-color: teal;
} */
/* .react-calendar__tile--range {
  background-color: yellowgreen;
} */
/* .react-calendar__tile--rangeStart {
  background-color: indianred;
} */
/* .react-calendar__tile--rangeEnd {
  background-color: olive;
} */
/* .react-calendar__tile--rangeBothEnds {
  background-color: greenyellow;
} */
/* .react-calendar__month-view__days__da {
  background-color: salmon;
} */
